.CalculoContain{
    display: flex;
    padding: 100px 10%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   
  
}

.deFlexInputsCalculo{
    display: flex;
    gap: 10px;
}
.deFlexInputsCalculo2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Calculo2ContainText{
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100vh;
    gap: 1rem;
}

.CalculoContainText{
    border: 1px solid var(--input);
    padding: 150px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    width: 100vh;
    height: 100%;
}
#CalculoContainText{
    border: 1px solid var(--input);
    padding: 30px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    width: 100vh;
    height: 100%;
}
.bgParrafo{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color5);
   
}
#bgParrafo{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color6);
}
.CalculoContain h2{
    color: var(--text-color2);
    font-size: 30px;
    font-weight: 500;
}
.CalculoContain h3{
    color: var(--text-color2);
    font-weight: 500;
}

.CalculoContain h2 span{
    color: var(--color5);
    font-size: 30px;
   
}
#CalculoContain h2 span{
    color: var(--color6);
    font-size: 30px;
   
}
.Calculo2ContainText h3{
    font-weight: 500;
    font-size: 25px;
}

.btnCal {
   background-color: var(--color5);
   border: none;
   padding: 15px;
   border-radius: 10rem;
   font-size: 17px;
   width: 100%;
}

.Modal {
    background: var(--blanco);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    margin: auto;

}


.Overlay {
    background: rgba(0, 0, 0, 0.43);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.Modal input{
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: var(--gris);
}
.Modal select{
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: var(--gris);
    margin-bottom: 10px;
}
.Modal label{
    color: var(--text-color2);
    padding:0 0 7px 0;
}

.Modal h2{
    color: var(--text-color2);
    text-align: center;
    margin-bottom: 1rem;
}

form div {
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}


@media (max-width: 900px) {
    .CalculoContain{
        padding: 100px 3%;
        height: 100%;
        flex-direction: column;
    }
    .bgParrafo{
        gap: 1rem;
        padding: 13px;
       
    }
    .bgParrafo p{
        font-size: 13px;
    }
    .Calculo2ContainText{
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }
    .Calculo2ContainText h3{
        font-size: 20px;
    }
    
    .CalculoContainText{
        border: 1px solid var(--input);
        padding: 50px 20px;
        gap: 2rem;
        width: 100%;
        height: 100%;
    }
    #CalculoContainText{
        width: 100%;
        padding: 50px 20px;
        gap: 2rem;
    }
    
    .deFlexInputsCalculo label{
        font-size: 12px;
    }
    .deFlexInputsCalculo span{
        font-size: 12px;
    }

    .Modal{
        width: 90%;
        height: auto;
    }
   
}