.deFlexPass{
    display: flex;
    width: 100%;
}
.deFlexPass button{
    background-color: transparent;
    border: none;
}
.flexGrap{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
#crearForm select{
    width: 100%;
    padding: 7px;
    border: none;
}